.root {
  position: relative;
}

.headerSkeleton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 var(--size-50);
}

@media screen and (max-width: 640px) {
  .headerSkeleton {
    flex-direction: column;
    justify-content: stretch;
    gap: var(--size-10);
  }
}
